
/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 768px) {

.super:hover {
	opacity: 0;
}
.space{
	margin-bottom: 4%;
}
.bg-image{
 	width: 100%;
 	margin-top: 50%;
}